
@{
    ViewData["Title"] = "AccessDenied";
}
<!--bu sayfayı program cs te belirtmen lazım AccessDenied sayfası olduğunu programa tanıtman gerke-->
<h1>AccessDenied</h1>
<div class="alert alert-info">
    <h1>@ViewBag.message</h1>
</div>

