
@{
    ViewData["Title"] = "Index";
}

<h1>Hoşgeldin @User.Identity!.Name</h1> <!-- kullanıcı hoşgeldi mesajı. bu mesajı sadece üyeler görebilir authorization var identity tarafından yapıldı program cs te login logout verdik.--> 

