
@{
    ViewData["Title"] = "PasswordChange";
}

@model PasswordChangeViewModel
<!-- _Layout.cshtml dosyasındaki scripts bölümüne eklenecek scripts-->
@section Scripts 
{
    @await Html.PartialAsync("_ValidationScriptsPartial") <!-- validation kütüphanesini buraya da ekledik client-side validation yapcaz.->
                                                           <!-- bu cshtml dosyası ana klasördeki viewin altındaki shared klasöründe biz o validation kütüphanelerine ihtiyaç duyuyoruz-->
                                                           <!-- signup sayfasında da validation kullancağımız için ekliyoruz buraya.-->
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Şifre Yenileme</h2>

        @if (TempData["SuccessMessage"] != null) //eğer ki ViewBag.SuccessMessage boş değilse yada tempdata
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
         
        <div asp-validation-summary=ModelOnly class ="alert alert-danger" role="alert"> <!-- Model ile ilgili hatalar mesela aynı kullanıcı adından var ise-->

        </div>

        <form asp-controller="Member" asp-action="PasswordChange" method="post"> <!-- bu formumuz home controllerdaki SıgnUp action kullancak post methodu olacak-->

            <div class="row mb-3">
                <label for="Password" class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordOld" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordOld"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->

                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordNew" class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordNew"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->

                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordNewConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNewConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordNewConfirm"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
                </div>
            </div>
        </form>
    </div>
</div>
