
@{
    ViewData["Title"] = "UserEdit";
}

<h1>UserEdit</h1>


@model UserEditViewModel
<!-- _Layout.cshtml dosyasındaki scripts bölümüne eklenecek scripts-->
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <!-- validation kütüphanesini buraya da ekledik client-side validation yapcaz.->
     <!-- bu cshtml dosyası ana klasördeki viewin altındaki shared klasöründe biz o validation kütüphanelerine ihtiyaç duyuyoruz-->
    <!-- signup sayfasında da validation kullancağımız için ekliyoruz buraya.-->
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Bilgi Güncelleme</h2>

        @if (TempData["SuccessMessage"] != null) //eğer ki ViewBag.SuccessMessage boş değilse yada tempdata
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
            <!-- Model ile ilgili hatalar mesela aynı kullanıcı adından var ise-->

        </div>

        <form asp-controller="Member" asp-action="UserEdit" method="post" enctype="multipart/form-data"> <!-- resim de alınacağı için encytpye eklendi->
            <!-- bu formumuz home controllerdaki SıgnUp action kullancak post methodu olacak-->

            <div class="row mb-3">
                <label for="Username" class="col-md-4 col-form-label" asp-for="Username"></label>
                <div class="col-md-8">
                    <input asp-for="Username" class="form-control">
                    <span class="text-danger" asp-validation-for="Username"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->

                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordNew" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->

                </div>
            </div>
            <div class="row mb-3">
                <label for="Phone" class="col-md-4 col-form-label" asp-for="Phone"></label>
                <div class="col-md-8">
                    <input asp-for="Phone" class="form-control">
                    <span class="text-danger" asp-validation-for="Phone"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->
                </div>
            </div>
            <div class="row mb-3">
                <label for="BirtDate" class="col-md-4 col-form-label" asp-for="BirthDate"></label>
                <div class="col-md-8">
                    <input asp-for="BirthDate" class="form-control">
                    <span class="text-danger" asp-validation-for="BirthDate"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->
                </div>
            </div>
            <div class="row mb-3">
                <label for="City" class="col-md-4 col-form-label" asp-for="City"></label>
                <div class="col-md-8">
                    <input asp-for="City" class="form-control">
                    <span class="text-danger" asp-validation-for="City"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="Gender"></label>
                <div class="col-md-8">
                    <select class="form-control" asp-for="Gender" asp-items="ViewBag.genderList">
                        <option value="">Cinsiyet Seçiniz</option> <!--Eğer databaseden null geliyosa bu kullanıcı için  Cinsiyet seçiniz yazısı çıkacak-->
                    </select>
                    <span class="text-danger" asp-validation-for="Gender"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->
                </div>
            </div>
            <div class="row mb-3">
                <label for="Picture" class="col-md-4 col-form-label" asp-for="Picture"></label>
                <div class="col-md-8">
                    <input type="file" asp-for="Picture" class="form-control">
                    <span class="text-danger" asp-validation-for="Picture"></span> <!-- signupViewmodel içindeli validation attr burada gözükecek.-->
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>
