@model List<string>
@{
    ViewData["Title"] = "GoogleAuthenticationError";
}


<h1>GoogleAuthenticationError</h1>

<hr />
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
</div>


